{%extends 'frame.html'%}
{%block title%}Drive | bqtbsb{% endblock %}

{% block drive_active %}active{% endblock %}

{% block style_added %}
<style>
    .modal-backdrop {
        z-index: -1;
    }
</style>
{% endblock %}

{% block header_misc %}
<a href="#" class="nav-link mx-3" data-bs-toggle="modal" data-bs-target="#upload_popup">
    <i class="bi bi-cloud-arrow-up-fill mx-1"></i>Upload
</a>
<!-- Modal -->
<div class="modal fade" id="upload_popup" tabindex="0" role="dialog" aria-labelledby="upload_popup" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="model_header">Modal title</h5>
                <span class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="bi bi-x-lg text-dark"></i>
                    </span>
                </span>
            </div>
            <div class="modal-body">
                <form action="{% url 'drive:upload_file' }" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Choose your file</label>
                        <input type="file" class="form-control" id="upload_file" name="upload_file"
                            aria-describedby="upload_file" placeholder="Choose your file...">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Upload</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block body %}

<div class="container-flex p-2">
    <div class="container">

    </div>
</div>

{%endblock%}