{%extends 'frame.html'%}
{%block title%}Profile | bqtbsb{% endblock %}
{%load crispy_forms_tags%}

{% block style_added %}
<style>

</style>
{% endblock %}

{% block header_misc %}{% endblock %}

{% block body %}


<div class="container py-2 text-light">
    <div class="row">
        <div class="col-md-6">
            <p class="h3 border-bottom">
                My Information
                <span data-bs-toggle="modal" data-bs-target="#update_profile" class="text-end"><i
                        class="bi bi-pen"></i></span>
            </p>
            <span class="lead">
                Name: {{profile.user_name}}
            </span>
            <br>
            <span class="lead">
                Address: {{profile.user_address}}
            </span>
            <br>
            <span class="lead">
                Phone: {{profile.user_phone}}
            </span> 
            <br>
            <span class="lead">
                Email: {{profile.user_email}}
            </span>
            <br>
            <span class="lead">
                Last Modified: {{profile.last_update}}
            </span>
        </div>
        <div class="col-md-6">

        </div>
    </div>

    <div class="modal fade text-dark" id="update_profile" tabindex="0" role="dialog" aria-labelledby="add_tag_popup"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="model_header">Add tags for files</h5>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <table>
                            {{profile_update_form|crispy}}
                        </table>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark">Update</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>


{%endblock%}

{% block misc_script %}
<script>

</script>
{% endblock %}