{%extends 'frame.html'%}
{%block title%}Profile | bqtbsb{% endblock %}
{%load crispy_forms_tags%}

{% block style_added %}
<style>

</style>
{% endblock %}

{% block header_misc %}{% endblock %}

{% block body %}


<div class="container py-2 text-light">
    <div class="row">
        <div class="col-md-6">
            <p class="h3 border-bottom">
                My Information
            </p>
            <span class="lead">
                Address:
            </span>
            <br>
            <span class="lead">
                Phone:
            </span>
            <br>
            <span class="lead">
                Email:
            </span>
            <br>
            <span class="lead">
                Last Modified:
            </span>
            <br>
            <span class="lead">
                Name:
            </span>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>


{%endblock%}

{% block misc_script %}
<script>

</script>
{% endblock %}